* {
  margin: 0;
  padding: 0;
}

#start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#video {
  /* border: 1px solid #999; */
  /* width: 101vw; */
  width: 100%;
  /* max-width: 860px; */
  /* height: 101vh; */
  height: 100%;

  transform: rotate(2deg);
}

.hide {
  display: none;
}

.footer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
  opacity: 0;
}

.footer:hover {
  opacity: 1;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer__input {
  width: 100px;
  text-align: center;
}

.custom-cursor {
  cursor: url(cursor.png), default!important;
}